body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #f0f4c3;
}

header {
    background-color: #a5d6a7;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
}

.logo-search {
    display: flex;
    align-items: center;
}

button a{
    color: #333;
    text-decoration: none;
}

.logo {
    height: 50px;
}

.search-bar {
    padding: 5px;
    border: none;
    border-radius: 5px;
    margin-left: 10px;
}

.search-button {
    background: none;
    border: none;
    cursor: pointer;
    margin-left: 5px;
}

.login-button {
    background-color: #aed581;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
}

.hero {
    background-color: #dcedc8;
    text-align: center;
    padding: 20px;
}

.mais-vendidos {
    text-align: center;
    padding: 20px;
}

.mais-vendidos h2 {
    margin-bottom: 20px;
}

.products {
    display: flex;
    justify-content: center;
    gap: 20px;
}

.product {
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 10px;
    padding: 10px;
    width: 200px;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s;
}

.product img {
    width: 100px;
    height: 100px;
    object-fit: cover;
}

.product p {
    margin: 10px 0;
}

.product button {
    background-color: #aed581;
    border: none;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
}

.product:hover {
    transform: scale(1.05);
}

.recipes {
    background-color: #e57373;
    display: flex;
    justify-content: center;
    gap: 20px;
    padding: 20px;
}

.recipe {
    text-align: center;
    color: #fff;
}

.recipe img {
    width: 200px;
    height: 150px;
    border-radius: 10px;
    object-fit: cover;
}

footer {
    background-color: #a5d6a7;
    text-align: center;
    padding: 20px;
}

footer p {
    margin: 5px 0;
    color: #333;
}

.social-media a {
    margin: 0 10px;
}

.social-media img {
    width: 30px;
    height: 30px;
}
    
